div{
width: 100px;
height: 100px;
padding: 10px;  
border: 10px solid green;
}

.com-border-box{
    background-color: aqua;
    box-sizing: border-box;
    
}

.sem-border-box{
    background-color: brown;
}



/* largura + padding esquerdo + padding direito + border + border = largura total do elemento:
100+10+10+10+10= 140


largura + padding de cima + padding de baixo + border + border=largura total do elemento:
100+10+10+10+10=140

 */