/* ---------------- Efeito cascata -------------------- */


/* .container-cascata {
background-color: aqua;
}

.container-cascata {
background-color: orange;
} */




/* --------------------- Espicificidade -------------------*/
#meu-paragrafo {
    background-color: violet;
}

.container-especificidade p {
    background-color: chartreuse !important;
}

p {
    background-color: lightblue;
}
